@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.btn-primary {
  @apply rounded-xl px-5 py-3 font-semibold bg-indigo-500 text-white hover:bg-indigo-600 transition;
}

.btn-secondary {
  @apply rounded-xl px-4 py-2 font-semibold bg-zinc-200 dark:bg-zinc-700 hover:opacity-90 transition;
}